* {
    margin: 0;
    box-sizing: border-box;
}

fieldset * {
    display: block;
    margin-bottom: 10px;
}

#subscribe, #gender-female, #gender-male{
    display: inline-block;
}

label{
    display: block;
}

body{
    background-color: white;
    margin: 0;
    padding: 5px;
}

p, dl {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

blockquote, dd{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: crimson;
}

h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}


li{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

ul > li{
    font-weight: normal;
}

.header{
    padding-top: 4px;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    margin: 0;
    background-color: white;
    z-index: 2;
    display: inline-block;
}

.header-nav{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    padding: 2px 0;
    list-style: none;
}

.footer {
    position: absolute;
}

.in-p-image{
    float: left;
    height: 75px;
    width: 75px;
}

.in-event-information-image{
    float: right;
    height: 75px;
    width: 75px;
}

.dl-aside{
    background-color: lightcoral;
    width:fit-content;
    border-radius: 25px;
    padding: 5px;
}

#stats_image, #track_image{
    border-radius: 25px;
    width: 665px;
    height: 502px;
}

a:hover{
    color: crimson;
}

p:active{
    background-color: burlywood;
}

a:visited{
    color: black;
}

.sticky-header {
    position: sticky;
    top: 95px;
    background-color: white;
    z-index: 1;
}

#header_div {
    height: 95px;
}

.registration-form{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
}

.registration-fieldset{
    display: block;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.registration-legend {
    font-weight: bold;
    font-size: 21px;
}

.male-female-div{
    padding-top: 10px;
    display: block;
    margin: 0;
}

.male-female-div label{
    display: inline-block;
    margin-right: 10px;
}

.subscribe-to-news{
    margin: 20px 0 10px 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea,
input[type="datetime-local"],
#f-teams{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus,
input[type="datetime-local"]:focus,
#f-teams:focus{
    border-color: black;
    color:rgb(255, 0, 75);
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="file"]::placeholder,
input[type="datetime-local"]::placeholder{
    color: #999;
}

button[type=submit]{
    background-color: rgb(255, 0, 75);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(255, 0, 150);
}

.video-iframe{
    border-radius: 25px;
    width: 892px;
    height: 502px;
}